.app{
  text-align: center;
}


.box{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
}

.row{
  display: flex;
}

.choice{
  font-size: 150px;
}

.container{
  margin: 30px;
}

.history{
vertical-align: top;
margin-top: 20px;
}